In [1]:
import pandas as pd
import numpy as np

## Open file and load data

In [2]:
df=pd.read_csv('GSAF5.csv', engine='python', sep=",")

# UnicodeDecodeError when reading CSV file in Pandas with Python
# https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python

## Save a copy of the dataframe for back-up

In [ ]:
df_original = df.copy()

## Examine size of data set

In [24]:
len(df)

5992

## Examine shape of data set (rows, cols)

In [28]:
df.shape

(5992, 24)

In [5]:
h = df.head()
h

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [18]:
t=df.tail(2)
t.T

,5990,5991
Case Number,ND.0002,ND.0001
Date,1883-1889,1845-1853
Year,0,0
Type,Unprovoked,Unprovoked
Country,PANAMA,CEYLON (SRI LANKA)
Area,NaN,Eastern Province
Location,"Panama Bay 8ï¿½N, 79ï¿½W","Below the English fort, Trincomalee"
Activity,NaN,Swimming
Name,Jules Patterson,male
Sex,M,M
Age,NaN,15
Injury,FATAL,"FATAL. ""Shark bit him in half, carrying away t..."
Fatal (Y/N),Y,Y
Time,NaN,NaN
Species,NaN,NaN
Investigator or Source,"The Sun, 10/20/1938",S.W. Baker
pdf,ND-0002-JulesPatterson.pdf,ND-0001-Ceylon.pdf
href formula,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
href,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1,ND.0002,ND.0001
Case Number.2,ND.0002,ND.0001
original order,3,2
Unnamed: 22,NaN,NaN
Unnamed: 23,NaN,NaN

In [31]:
df[['Country', 'Type', 'Sex', 'Fatal (Y/N)', 'Species']].describe().T

            count unique          top  freq
Country      5949    203          USA  2116
Type         5992      6   Unprovoked  4386
Sex          5425      6            M  4835
Fatal (Y/N)  5973      8            N  4315
Species      3058   1538  White shark   161

In [8]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [9]:
df['Type'].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [22]:
h.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [11]:
col_list = list(df.columns)
col_list[9], col_list[14]

('Sex ', 'Species ')

In [12]:
col_list[9] = 'Sex'
col_list[14] = 'Species'
df.columns = col_list

In [13]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [17]:
df.to_csv('shark_clean.csv', sep=',', index=False)

In [14]:
'Done!'

'Done!'